Tạo dữ liệu mẫu

In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("product.db")

df = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Pen", "Book", "Bag"],
    "price": [10.5, 25.0, 120.0],
    "amount": [100, 50, 20]
})

df.to_sql("product", conn, if_exists="replace", index=False)

3

Hiển thị danh sách sản phẩm

In [3]:
df = pd.read_sql("SELECT * FROM product", conn)
print(df)

   id  name  price  amount
0   1   Pen   10.5     100
1   2  Book   25.0      50
2   3   Bag  120.0      20

Thêm sản phẩm mới

In [4]:
new_product = pd.DataFrame({
    "id": [4],
    "name": ["Notebook"],
    "price": [45.0],
    "amount": [30]
})

df = pd.concat([df, new_product], ignore_index=True)
df.to_sql("product", conn, if_exists="replace", index=False)

4

Tìm kiếm sản phẩm theo tên

In [5]:
result = df[df["name"].str.contains("Book")]
print(result)

   id  name  price  amount
1   2  Book   25.0      50

Cập nhật giá và số lượng theo id

In [6]:
df.loc[df["id"] == 2, ["price", "amount"]] = [30.0, 60]
df.to_sql("product", conn, if_exists="replace", index=False)

4

Xoá sản phẩm theo id

In [7]:
df = df[df["id"] != 1]
df.to_sql("product", conn, if_exists="replace", index=False)

3

Sắp xếp theo giá tăng dần

In [8]:
sorted_df = df.sort_values(by="price")
print(sorted_df)

   id      name  price  amount
1   2      Book   30.0      60
3   4  Notebook   45.0      30
2   3       Bag  120.0      20

Lưu kết quả cuối cùng

In [9]:
sorted_df.to_sql("product", conn, if_exists="replace", index=False)
conn.close()