TẠO CSDL ql_nhan_vien.db & BẢNG PHONG

In [7]:
import sqlite3

conn = sqlite3.connect("ql_nhan_vien.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS PHONG (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    price REAL NOT NULL,
    amount INTEGER NOT NULL
)
""")

conn.commit()

# HIỂN THỊ BẢNG PHONG
cursor.execute("SELECT id, name, price, amount FROM PHONG")
print("BẢNG PHONG:")
for row in cursor.fetchall():
    print(row)

BẢNG PHONG:
(1, 'Kế toán', 1000.0, 5)
(2, 'Nhân sự', 1200.0, 3)
(3, 'CNTT', 1500.0, 7)

Thêm các phòng ban vào bảng PHONG

In [8]:
phong_data = [
    (1, "Kế toán", 1000.0, 5),
    (2, "Nhân sự", 1200.0, 3),
    (3, "CNTT", 1500.0, 7)
]

cursor.executemany(
    "INSERT OR IGNORE INTO PHONG VALUES (?, ?, ?, ?)",
    phong_data
)

conn.commit()

cursor.execute("SELECT id, name, price, amount FROM PHONG")
print("\nSAU KHI THÊM PHÒNG:")
for row in cursor.fetchall():
    print(row)

SAU KHI THÊM PHÒNG:
(1, 'Kế toán', 1000.0, 5)
(2, 'Nhân sự', 1200.0, 3)
(3, 'CNTT', 1500.0, 7)

Tạo bảng NHAN_VIEN

In [9]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS NHAN_VIEN (
    id INTEGER PRIMARY KEY,
    ho_ten TEXT NOT NULL,
    tuoi INTEGER NOT NULL,
    dia_chi TEXT NOT NULL,
    luong REAL NOT NULL,
    id_phong INTEGER,
    FOREIGN KEY (id_phong) REFERENCES PHONG(id)
)
""")

conn.commit()

print("\nĐÃ TẠO BẢNG NHAN_VIEN")

ĐÃ TẠO BẢNG NHAN_VIEN

Thêm nhân viên vào bảng NHAN_VIEN

In [10]:
nhanvien_data = [
    (1, "Nguyễn Văn A", 25, "Đà Nẵng", 8000.0, 1),
    (2, "Trần Thị B", 30, "Huế", 9000.0, 2),
    (3, "Lê Văn C", 28, "Quảng Nam", 10000.0, 3)
]

cursor.executemany(
    "INSERT OR IGNORE INTO NHAN_VIEN VALUES (?, ?, ?, ?, ?, ?)",
    nhanvien_data
)

conn.commit()

cursor.execute("SELECT * FROM NHAN_VIEN")
print("\nBẢNG NHAN_VIEN:")
for row in cursor.fetchall():
    print(row)

BẢNG NHAN_VIEN:
(1, 'Nguyễn Văn A', 25, 'Đà Nẵng', 8000.0, 1)
(2, 'Trần Thị B', 30, 'Huế', 9000.0, 2)
(3, 'Lê Văn C', 28, 'Quảng Nam', 10000.0, 3)

Hiển thị nhân viên theo phòng(join)

In [11]:
cursor.execute("""
SELECT NHAN_VIEN.id, ho_ten, tuoi, dia_chi, luong, PHONG.name
FROM NHAN_VIEN
JOIN PHONG ON NHAN_VIEN.id_phong = PHONG.id
""")

print("\nDANH SÁCH NHÂN VIÊN + PHÒNG:")
for row in cursor.fetchall():
    print(row)

DANH SÁCH NHÂN VIÊN + PHÒNG:
(1, 'Nguyễn Văn A', 25, 'Đà Nẵng', 8000.0, 'Kế toán')
(2, 'Trần Thị B', 30, 'Huế', 9000.0, 'Nhân sự')
(3, 'Lê Văn C', 28, 'Quảng Nam', 10000.0, 'CNTT')

Đóng kết nối

In [12]:
conn.close()