In [1]:
import sqlite3
import pandas as pd

# Kết nối SQLite
conn = sqlite3.connect("student.db")

# Tạo DataFrame dữ liệu mẫu
df = pd.DataFrame({
    "name": ["An", "Binh", "Chi"],
    "age": [20, 21, 22]
})

# Ghi DataFrame vào bảng SQLite
df.to_sql(
    name="Student",
    con=conn,
    if_exists="replace",
    index=False
)

# Đọc tất cả dữ liệu từ bảng
result = pd.read_sql("SELECT * FROM Student", conn)

# Hiển thị các bản ghi
print(result)

# Đóng kết nối
conn.close()

   name  age
0    An   20
1  Binh   21
2   Chi   22