In [ ]:
"""
Câu 1: (4.0 điểm) Lập trình đối tượng và Tính toán số học 
a) Lập trình hướng đối tượng (2.0đ): 
Trong bài toán quản lý tiền lương nhân viên, hãy xây dựng lớp cha NhanVien có các thuộc tính 
private: ma_nv (str) và luong_cb (float - lương cơ bản). Thực hiện các yêu cầu sau: 
1. Viết phương thức tinh_luong() trong lớp NhanVien trả về giá trị của luong_cb. 
2. Xây dựng 2 lớp con kế thừa từ lớp NhanVien và ghi đè phương thức tinh_luong(): 
o NhanVienTangCa: Trả về luong_cb * 1.2. 
o NhanVienChuyenChuyen: Trả về luong_cb + 500000. 
3. Trong phần main: Khởi tạo một danh sách chứa 3 đối tượng (mỗi loại nhân viên 1 đối 
tượng) với luong_cb = 10000000. Duyệt danh sách và in ra màn hình mã nhân viên cùng 
tiền lương tương ứng. 
b) NumPy – Xử lý mảng (2.0đ): 
Cho danh sách dữ liệu sản lượng: san_luong = [12, None, 8, 15, None, 10]. 
1. Chuyển danh sách trên thành mảng NumPy, thực hiện reshape thành mảng kích thước 2 x 
3. Thay thế các giá trị NaN bằng giá trị trung bình của toàn bộ mảng. 
2. Trích xuất các phần tử có giá trị > 9 và tìm giá trị nhỏ nhất trong tập hợp các phần tử vừa 
trích xuất được. 
"""

In [ ]:
# Câu 1: a) Lập trình hướng đối tượng
## 1. Xây dựng lớp cha NhanVien
class NhanVien:
    def __init__(self, ma_nv, luong_cb):
        self.__ma_nv = ma_nv      # private
        self.__luong_cb = luong_cb

    def tinh_luong(self):
        return self.__luong_cb

    def get_ma_nv(self):
        return self.__ma_nv

    def get_luong_cb(self):
        return self.__luong_cb

## 2. Tạo cac lop con va ghi de phuong thuc
class NhanVienTangCa(NhanVien):
    def tinh_luong(self):
        return self.get_luong_cb() * 1.2


class NhanVienChuyenChuyen(NhanVien):
    def tinh_luong(self):
        return self.get_luong_cb() + 500000

## 3. Duyet danh sach va in ra doi tuong
if __name__ == "__main__":
    ds_nhan_vien = [
        NhanVien("NV01", 10000000),
        NhanVienTangCa("NV02", 10000000),
        NhanVienChuyenChuyen("NV03", 10000000)
    ]

    for nv in ds_nhan_vien:
        print(f"Mã NV: {nv.get_ma_nv()} - Lương: {nv.tinh_luong():,.0f}")

Mã NV: NV01 - Lương: 10,000,000
Mã NV: NV02 - Lương: 12,000,000
Mã NV: NV03 - Lương: 10,500,000

In [2]:
# Câu 1: b) NumPy – Xử lý mảng

san_luong = [12, None, 8, 15, None, 10]

## 1. Chuyen Numpy & reshape
import numpy as np

arr = np.array(san_luong, dtype=float)
arr = arr.reshape(2, 3)

## 2. Thay NaN bằng giá trị trung bình
mean_value = np.nanmean(arr)
arr = np.nan_to_num(arr, nan=mean_value)

## 3.
lon_hon_9 = arr[arr > 9]
min_value = lon_hon_9.min()

print("Mảng sau xử lý:\n", arr)
print("Các phần tử > 9:", lon_hon_9)
print("Giá trị nhỏ nhất:", min_value)

Mảng sau xử lý:
 [[12.   11.25  8.  ]
 [15.   11.25 10.  ]]
Các phần tử > 9: [12.   11.25 15.   11.25 10.  ]
Giá trị nhỏ nhất: 10.0

In [ ]:
"""
Câu 2: (6.0 điểm) Xử lý dữ liệu thực tế với Pandas và SQL 
Cho tệp dữ liệu nhan_su.csv gồm các cột: Ma_NV, Phong_Ban, Thanh_Tich (số điểm thưởng), và 
Nam_Cong_Tac. Anh/Chị hãy thực hiện các yêu cầu sau: 
a) Lọc dữ liệu: Đọc dữ liệu và lọc các bản ghi có Ma_NV chứa chuỗi "NS" (không phân biệt chữ 
hoa, chữ thường; xử lý phù hợp nếu có giá trị thiếu) và chỉ giữ lại các nhân viên có Nam_Cong_Tac 
\ge 2021. 
b) Làm sạch dữ liệu: Điền các giá trị thiếu trong cột Thanh_Tich bằng giá trị trung bình của 
chính cột này (tính toán dựa trên tập dữ liệu đã lọc ở câu a). 
c) Tổng hợp dữ liệu (Groupby): Sử dụng phương thức groupby để tính tổng điểm Thanh_Tich 
theo từng Phong_Ban. 
d) Biến đổi bảng (Pivot Table): Tạo bảng xoay chiều (Pivot Table) với: 
 Hàng (index): Phong_Ban. 
 Cột (columns): Nam_Cong_Tac. 
 Giá trị (values): Tổng Thanh_Tich. 
 Xử lý: Điền giá trị 0 vào các ô trống (không có dữ liệu). 
e) Lưu trữ và Truy vấn: Lưu kết quả từ câu (d) vào bảng có tên bang_luong_2024 trong tệp cơ 
sở dữ liệu SQLite HeThong.db. Thực hiện truy vấn hiển thị 5 dòng đầu tiên của bảng để kiểm tra.
"""

In [6]:
# Câu 2:
## a) Đọc dữ liệu và lọc
import pandas as pd

df = pd.read_csv("DATA/nhan_su.csv")

df_loc = df[
    df["Ma_NV"].str.contains("NS", case=False, na=False) &
    (df["Nam_Cong_Tac"] >= 2021)
]

In [11]:
## b) Điền giá trị thiếu
mean_tt = df_loc["Thanh_Tich"].mean()
df_loc["Thanh_Tich"] = df_loc["Thanh_Tich"].fillna(mean_tt)

print(df_loc)

    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh   85.000000          2021
1   ns002  KinhDoanh   88.333333          2022
2   NS003     NhanSu   90.000000          2023
4   NS005    KyThuat   88.000000          2021
5   ns006    KyThuat   88.333333          2024
6   NS007  KinhDoanh   95.000000          2023
8   NS009     NhanSu   88.333333          2022
9   NS010    KyThuat   92.000000          2024
10  NS011  KinhDoanh   80.000000          2021

C:\Users\PC\AppData\Local\Temp\ipykernel_19356\3005384399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loc["Thanh_Tich"] = df_loc["Thanh_Tich"].fillna(mean_tt)

In [ ]:
## c) Groupby theo phòng ban
group_pb = df_loc.groupby("Phong_Ban")["Thanh_Tich"].sum()
print(group_pb)

Phong_Ban
KinhDoanh    348.333333
KyThuat      268.333333
NhanSu       178.333333
Name: Thanh_Tich, dtype: float64

In [ ]:
## d) Biến đổi bảng (Pivot Table)
pivot = pd.pivot_table(
    df_loc,
    index="Phong_Ban",
    columns="Nam_Cong_Tac",
    values="Thanh_Tich",
    aggfunc="sum",
    fill_value=0
)

print(pivot)

Nam_Cong_Tac   2021       2022  2023        2024
Phong_Ban
KinhDoanh     165.0  88.333333  95.0    0.000000
KyThuat        88.0   0.000000   0.0  180.333333
NhanSu          0.0  88.333333  90.0    0.000000

In [13]:
## e) 
import sqlite3

path_db = "OUTPUT/Hethong.db"
conn = sqlite3.connect(path_db)

pivot.to_sql("bang_luong_2024", conn, if_exists="replace")

query = pd.read_sql(
    "SELECT * FROM bang_luong_2024 LIMIT 5",
    conn
)

print(query)
conn.close()

   Phong_Ban   2021       2022  2023        2024
0  KinhDoanh  165.0  88.333333  95.0    0.000000
1    KyThuat   88.0   0.000000   0.0  180.333333
2     NhanSu    0.0  88.333333  90.0    0.000000