In [1]:
import pandas as pd

ser = pd.Series([
    '01 Jan 2010',
    '02-02-2011',
    '20120303',
    '2013/04/04',
    '2014-05-05',
    '2015-06-06T12:20'
])

Chuyển Series sang datetime, nếu có giá trị không hợp lệ sẽ trả NaT

In [2]:
ser_datetime = pd.to_datetime(ser, errors='coerce')

print("Series sau khi chuyển sang datetime:")
print(ser_datetime)

Series sau khi chuyển sang datetime:
0   2010-01-01
1          NaT
2          NaT
3          NaT
4          NaT
5          NaT
dtype: datetime64[ns]