In [1]:
import pandas as pd

1a. Đọc stocks1.csv

In [2]:
stocks1 = pd.read_csv("stocks1.csv")
print("5 dòng đầu stocks1:\n", stocks1.head())
print("5 dòng cuối stocks1:\n", stocks1.tail())
print("Kiểu dữ liệu cột stocks1:\n", stocks1.dtypes)
print("Info stocks1:")
stocks1.info()

5 dòng đầu stocks1:
          date symbol  open    high    low  close  volume
0  2025-01-01   AAPL   150   155.0  148.0    154   10000
1  2025-01-02   GOOG  1000  1010.0  995.0   1005   15000
2  2025-01-03   MSFT   200   210.0  198.0    205   12000
3  2025-01-04   AAPL   152     NaN  150.0    151   13000
4  2025-01-05   GOOG  1005  1012.0    NaN   1008   14000
5 dòng cuối stocks1:
          date symbol  open    high    low  close  volume
0  2025-01-01   AAPL   150   155.0  148.0    154   10000
1  2025-01-02   GOOG  1000  1010.0  995.0   1005   15000
2  2025-01-03   MSFT   200   210.0  198.0    205   12000
3  2025-01-04   AAPL   152     NaN  150.0    151   13000
4  2025-01-05   GOOG  1005  1012.0    NaN   1008   14000
Kiểu dữ liệu cột stocks1:
 date       object
symbol     object
open        int64
high      float64
low       float64
close       int64
volume      int64
dtype: object
Info stocks1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5 non-null      object
 1   symbol  5 non-null      object
 2   open    5 non-null      int64
 3   high    4 non-null      float64
 4   low     4 non-null      float64
 5   close   5 non-null      int64
 6   volume  5 non-null      int64
dtypes: float64(2), int64(3), object(2)
memory usage: 412.0+ bytes


1b. Đọc stocks2.csv

In [3]:
stocks2 = pd.read_csv("stocks2.csv")
print("\n5 dòng đầu stocks2:\n", stocks2.head())
print("5 dòng cuối stocks2:\n", stocks2.tail())
print("Kiểu dữ liệu cột stocks2:\n", stocks2.dtypes)
print("Info stocks2:")
stocks2.info()

5 dòng đầu stocks2:
          date symbol  open  high   low  close  volume
0  2025-01-06   MSFT   206   210   205    209   12500
1  2025-01-07   AAPL   153   155   150    154   13500
2  2025-01-08   GOOG  1010  1015  1008   1012   14000
3  2025-01-09   MSFT   208   212   207    210   12800
4  2025-01-10   AAPL   155   157   152    156   13000
5 dòng cuối stocks2:
          date symbol  open  high   low  close  volume
0  2025-01-06   MSFT   206   210   205    209   12500
1  2025-01-07   AAPL   153   155   150    154   13500
2  2025-01-08   GOOG  1010  1015  1008   1012   14000
3  2025-01-09   MSFT   208   212   207    210   12800
4  2025-01-10   AAPL   155   157   152    156   13000
Kiểu dữ liệu cột stocks2:
 date      object
symbol    object
open       int64
high       int64
low        int64
close      int64
volume     int64
dtype: object
Info stocks2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5 non-null      object
 1   symbol  5 non-null      object
 2   open    5 non-null      int64
 3   high    5 non-null      int64
 4   low     5 non-null      int64
 5   close   5 non-null      int64
 6   volume  5 non-null      int64
dtypes: int64(5), object(2)
memory usage: 412.0+ bytes

1c. Đọc companies.csv

In [6]:
companies = pd.read_csv("companies.csv")
print("\nDữ liệu companies:\n", companies)
print("Kiểu dữ liệu cột companies:\n", companies.dtypes)
print("Info companies:")
companies.info()

Dữ liệu companies:
    name  employees headquarters_city headquarters_state
0  AAPL     150000         Cupertino                 CA
1  GOOG     135000     Mountain View                 CA
2  MSFT     180000           Redmond                 WA
Kiểu dữ liệu cột companies:
 name                  object
employees              int64
headquarters_city     object
headquarters_state    object
dtype: object
Info companies:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                3 non-null      object
 1   employees           3 non-null      int64
 2   headquarters_city   3 non-null      object
 3   headquarters_state  3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes


2. Kiểm tra Null và thay thế

In [7]:
stocks1['high'] = stocks1.groupby('symbol')['high'].transform(lambda x: x.fillna(x.max()))
stocks1['low'] = stocks1.groupby('symbol')['low'].transform(lambda x: x.fillna(x.min()))

3. Gộp stocks1 và stocks2 theo dòng

In [8]:
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
print("\n15 dòng cuối stocks:")
print(stocks.tail(15))

15 dòng cuối stocks:
         date symbol  open    high     low  close  volume
0  2025-01-01   AAPL   150   155.0   148.0    154   10000
1  2025-01-02   GOOG  1000  1010.0   995.0   1005   15000
2  2025-01-03   MSFT   200   210.0   198.0    205   12000
3  2025-01-04   AAPL   152   155.0   150.0    151   13000
4  2025-01-05   GOOG  1005  1012.0   995.0   1008   14000
5  2025-01-06   MSFT   206   210.0   205.0    209   12500
6  2025-01-07   AAPL   153   155.0   150.0    154   13500
7  2025-01-08   GOOG  1010  1015.0  1008.0   1012   14000
8  2025-01-09   MSFT   208   212.0   207.0    210   12800
9  2025-01-10   AAPL   155   157.0   152.0    156   13000

4. Gộp stocks và companies

In [9]:

stocks_companies = pd.merge(stocks, companies, left_on='symbol', right_on='name', how='left')
print("\n5 dòng đầu stocks_companies:")
print(stocks_companies.head())

5 dòng đầu stocks_companies:
         date symbol  open    high    low  close  volume  name  employees  \
0  2025-01-01   AAPL   150   155.0  148.0    154   10000  AAPL     150000
1  2025-01-02   GOOG  1000  1010.0  995.0   1005   15000  GOOG     135000
2  2025-01-03   MSFT   200   210.0  198.0    205   12000  MSFT     180000
3  2025-01-04   AAPL   152   155.0  150.0    151   13000  AAPL     150000
4  2025-01-05   GOOG  1005  1012.0  995.0   1008   14000  GOOG     135000

  headquarters_city headquarters_state
0         Cupertino                 CA
1     Mountain View                 CA
2           Redmond                 WA
3         Cupertino                 CA
4     Mountain View                 CA


5. Giá trung bình (open, high, low, close) và volume trung bình của mỗi công ty

In [10]:
mean_stats = stocks_companies.groupby('symbol')[['open','high','low','close','volume']].mean()
print("\nGiá trung bình và volume trung bình mỗi công ty:")
print(mean_stats)

Giá trung bình và volume trung bình mỗi công ty:
               open         high         low        close        volume
symbol
AAPL     152.500000   155.500000  150.000000   153.750000  12375.000000
GOOG    1005.000000  1012.333333  999.333333  1008.333333  14333.333333
MSFT     204.666667   210.666667  203.333333   208.000000  12433.333333

6. Giá đóng cửa (close) trung bình, lớn nhất, nhỏ nhất

In [11]:
close_stats = stocks_companies.groupby('symbol')['close'].agg(['mean','max','min'])
print("\nClose trung bình, max, min mỗi công ty:")
print(close_stats)

Close trung bình, max, min mỗi công ty:
               mean   max   min
symbol
AAPL     153.750000   156   151
GOOG    1008.333333  1012  1005
MSFT     208.000000   210   205


7. Tạo cột parsed_time

In [12]:
stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])
print("\nKiểu dữ liệu parsed_time:", stocks_companies['parsed_time'].dtype)
print("5 dòng đầu stocks_companies với parsed_time:")
print(stocks_companies.head())

Kiểu dữ liệu parsed_time: datetime64[ns]
5 dòng đầu stocks_companies với parsed_time:
         date symbol  open    high    low  close  volume  name  employees  \
0  2025-01-01   AAPL   150   155.0  148.0    154   10000  AAPL     150000
1  2025-01-02   GOOG  1000  1010.0  995.0   1005   15000  GOOG     135000
2  2025-01-03   MSFT   200   210.0  198.0    205   12000  MSFT     180000
3  2025-01-04   AAPL   152   155.0  150.0    151   13000  AAPL     150000
4  2025-01-05   GOOG  1005  1012.0  995.0   1008   14000  GOOG     135000

  headquarters_city headquarters_state parsed_time
0         Cupertino                 CA  2025-01-01
1     Mountain View                 CA  2025-01-02
2           Redmond                 WA  2025-01-03
3         Cupertino                 CA  2025-01-04
4     Mountain View                 CA  2025-01-05


8. Thêm cột result

In [13]:
stocks_companies['result'] = stocks_companies.apply(lambda x: 'up' if x['close'] > x['open'] else 'down', axis=1)
print("\n5 dòng đầu stocks_companies với cột result:")
print(stocks_companies.head())

5 dòng đầu stocks_companies với cột result:
         date symbol  open    high    low  close  volume  name  employees  \
0  2025-01-01   AAPL   150   155.0  148.0    154   10000  AAPL     150000
1  2025-01-02   GOOG  1000  1010.0  995.0   1005   15000  GOOG     135000
2  2025-01-03   MSFT   200   210.0  198.0    205   12000  MSFT     180000
3  2025-01-04   AAPL   152   155.0  150.0    151   13000  AAPL     150000
4  2025-01-05   GOOG  1005  1012.0  995.0   1008   14000  GOOG     135000

  headquarters_city headquarters_state parsed_time result
0         Cupertino                 CA  2025-01-01     up
1     Mountain View                 CA  2025-01-02     up
2           Redmond                 WA  2025-01-03     up
3         Cupertino                 CA  2025-01-04   down
4     Mountain View                 CA  2025-01-05     up