In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(100)  # tạo random seed
ser = pd.Series(rng.randint(1, 5, 12))
print("Original Series:")
print(ser)

Original Series:
0     1
1     1
2     4
3     4
4     4
5     4
6     1
7     3
8     3
9     1
10    3
11    2
dtype: int32

Tìm top 2 giá trị phổ biến nhất

In [3]:
top2 = ser.value_counts().nlargest(2).index
print("\nTop 2 most frequent values:", list(top2))

Top 2 most frequent values: [1, 4]

Thay các giá trị khác bằng 'Other'

In [4]:
ser_modified = ser.where(ser.isin(top2), 'Other')
print("\nSeries sau khi giữ top 2 và thay các giá trị khác bằng 'Other':")
print(ser_modified)

Series sau khi giữ top 2 và thay các giá trị khác bằng 'Other':
0         1
1         1
2         4
3         4
4         4
5         4
6         1
7     Other
8     Other
9         1
10    Other
11    Other
dtype: object