In [1]:
import pandas as pd
pd.__version__

'2.3.3'

In [2]:
!pip show pandas

Name: pandas
Version: 2.3.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

 Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
 All rights reserved.

 Copyright (c) 2011-2023, Open source contributors.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:

 * Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

 * Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

 * Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: C:\Users\thaon\AppData\Roaming\Python\Python313\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: seaborn

In [3]:
import pandas as pd
import numpy as np

#Series từ dict
s=pd.Series({'a': 1.0, 'b': 2.0, 'c': 3.0})
print("Series:\n", s)
#not
#DataFrame từ dict
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)
#Tạo DataFrame từ mảng NumPy
array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df_from_array = pd.DataFrame(array, columns=['A', 'B', 'C'])
print("\nDataFrame từ mảng NumPy:\n", df_from_array)

Series:
 a    1.0
b    2.0
c    3.0
dtype: float64

DataFrame:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

DataFrame từ mảng NumPy:
    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
import pandas as pd
data = pd.Series([1.0, 0.25, 6.0, 0.75])
data

0    1.00
1    0.25
2    6.00
3    0.75
dtype: float64

In [5]:
data.values

array([1.  , 0.25, 6.  , 0.75])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[2]

np.float64(6.0)

In [8]:
data[1:3]

1    0.25
2    6.00
dtype: float64

vd 4.3.2.2

In [9]:
import pandas as pd
population_dict = {'Hà Nội':8330830,
    'Quảng Ninh':1358085,
    'Nam Định': 1836270,
    'Đà Nẵng':1195490,
    'TP.Hồ Chí Minh':9411805}
population = pd.Series(population_dict)
population

Hà Nội            8330830
Quảng Ninh        1358085
Nam Định          1836270
Đà Nẵng           1195490
TP.Hồ Chí Minh    9411805
dtype: int64

In [10]:
population['Hà Nội']

np.int64(8330830)

vd 4.3.3

In [ ]:
area_dict={'Hà Nội':3358.9,
    'Quảng Ninh':6177.7,
    'Nam Định':1668.0,
    'Đà Nẵng':1284.9,
    'TP.Hồ Chí Minh':2061.0}
area = pd.Series(area_dict)
area

Hà Nội            3358.9
Quảng Ninh        6177.7
Nam Định          1668.0
Đà Nẵng           1284.9
TP.Hồ Chí Minh    2061.0
dtype: float64

In [12]:
VietNam = pd.DataFrame({'Dân số':population, 'Diện tích':area})
VietNam

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358085     6177.7
Nam Định        1836270     1668.0
Đà Nẵng         1195490     1284.9
TP.Hồ Chí Minh  9411805     2061.0

In [ ]:
VietNam.index

Index(['Hà Nội', 'Quảng Ninh', 'Nam Định', 'Đà Nẵng', 'TP.Hồ Chí Minh'], dtype='object')

In [14]:
 VietNam.columns

Index(['Dân số', 'Diện tích'], dtype='object')

vd 4.3.3.2

In [15]:
VietNam['Dân số']

Hà Nội            8330830
Quảng Ninh        1358085
Nam Định          1836270
Đà Nẵng           1195490
TP.Hồ Chí Minh    9411805
Name: Dân số, dtype: int64

In [16]:
print('Dân số thủ đô Hà Nội:',VietNam['Dân số']['Hà Nội'])
print('Dân số thủ đô Hà Nội:',VietNam['Dân số'][0])

Dân số thủ đô Hà Nội: 8330830
Dân số thủ đô Hà Nội: 8330830

C:\Users\thaon\AppData\Local\Temp\ipykernel_15636\2544189198.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Dân số thủ đô Hà Nội:',VietNam['Dân số'][0])

c1. Tạo DataFrame từ một Series

In [17]:
#Tạo DataFrame từ một Series
pd.DataFrame(population, columns=['Dân số'])

                 Dân số
Hà Nội          8330830
Quảng Ninh      1358085
Nam Định        1836270
Đà Nẵng         1195490
TP.Hồ Chí Minh  9411805

c2. Tạo DataFrame từ List của Dictionary

In [18]:
data = [{'a':i,'b':2*i}
 for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [19]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [20]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c': 'KHDL'}])

     a  b     c
0  1.0  2   NaN
1  NaN  3  KHDL

c.3. Tạo DataFrame từ một Dictionary chứa các Series

In [22]:
VietNam=pd.DataFrame({'Dân số':population,'Diện tích':area})

Tạo DataFrame từ mảng 2 chiều NumPy

In [23]:
import numpy as np
arr=np.random.rand(3,2)
arr

array([[0.43214947, 0.88440827],
       [0.91604688, 0.39954886],
       [0.07081312, 0.51443673]])

In [24]:
pd.DataFrame(arr,columns=['foo','bar'],index=['a','b','c'])

        foo       bar
a  0.432149  0.884408
b  0.916047  0.399549
c  0.070813  0.514437

 Tạo DataFrame từ Structured Array của NumPy

In [ ]:
import numpy as np
# Định nghĩa kiểu dữ liệu cho một Structured Array
dtype = [('name', 'U20'), ('age', int), ('height', float)]
# Tạo một Structured Array
data = np.array([('Minh', 22, 165.5),
    ('Lan', 40, 160.0),
    ('Linh', 31, 165.0),
    ('Lương',18,166.5),
    ('Thanh',50, 170.0)], dtype=dtype)
# Tạo DataFrame từ Structured Array
df = pd.DataFrame(data)
# In ra DataFrame
print(df)
print(data.dtype)

    name  age  height
0   Minh   22   165.5
1    Lan   40   160.0
2   Linh   31   165.0
3  Lương   18   166.5
4  Thanh   50   170.0
[('name', '<U20'), ('age', '<i8'), ('height', '<f8')]

Ví dụ 4.3.4.1.

In [26]:
import pandas as pd
ind=pd.Index([2, 3, 6, 7, 11])
ind

Index([2, 3, 6, 7, 11], dtype='int64')

a. Index là mảng bất biến

In [30]:
ind[1]

np.int64(3)

In [ ]:
Ind[::2]

In [32]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [ ]:
import pandas as pd
Ind=pd.Index([2, 3, 6, 7, 11])
Ind[3]=5

Ví dụ 4.3.4.2

In [ ]:
import pandas as pd
indA=pd.Index([0, 2, 4, 6, 8])
indB=pd.Index([1, 3, 7, 8, 9])
print('Index A: ', indA)
print('Index B: ', indB)
print('Hợp: ', indA.union(indB)) #hợp (union)
print('Hiệu: ', indA.difference(indB)) #hiệu
print('Giao: ', indA.intersection(indB)) #Giao
print('Hiệu đối xứng: ',indA.symetric_difference(indB))  #hiệu đối xứng
print('A <= B and A!=B: ', indA.isin(indB))

Index A:  Index([0, 2, 4, 6, 8], dtype='int64')
Index B:  Index([1, 3, 7, 8, 9], dtype='int64')
Hợp:  Index([0, 1, 2, 3, 4, 6, 7, 8, 9], dtype='int64')
Hiệu:  Index([0, 2, 4, 6], dtype='int64')
Giao:  Index([8], dtype='int64')

AttributeError: 'Index' object has no attribute 'symetric_difference'