In [54]:
import pandas as pd

In [4]:
population_dict = {
    'Hà Nội': 8330830,
    'Quảng Ninh': 1358085,
    'Nam Định': 1836270,
    'Đà Nẵng': 1195490,
    'TP.HCM': 9411805
}
population = pd.Series(population_dict, name='Dân số (người)')

In [30]:
import pandas as pd

area_dict = {'Hà Nội': 23358.9,
              'Quảng Ninh': 16177.7,
              'Nam Định': 1668.0,
              'Đà Nẵng': 1284.9,
              'TP. HỒ CHÍ MINH': 2061.0}

area = pd.Series(area_dict) #Sử dụng hàm pd.Series() tạo Series diện tích các tỉnh/thành phố từ
area

Hà Nội             23358.9
Quảng Ninh         16177.7
Nam Định            1668.0
Đà Nẵng             1284.9
TP. HỒ CHÍ MINH     2061.0
dtype: float64

In [31]:
# tạo Series dân số tương ứng với chỉ mục của `area`
population = pd.Series([8419000, 1200000, 1700000, 1300000, 9000000],
					   index=area.index, name='Dân số (người)')

df = pd.DataFrame({'Diện tích (km2)': area, 'Dân số (người)': population})

df

                 Diện tích (km2)  Dân số (người)
Hà Nội                   23358.9         8419000
Quảng Ninh               16177.7         1200000
Nam Định                  1668.0         1700000
Đà Nẵng                   1284.9         1300000
TP. HỒ CHÍ MINH           2061.0         9000000

In [32]:
print("Kích thước bảng: số hàng, cột:", df.shape)

Kích thước bảng: số hàng, cột: (5, 2)

In [33]:
print("Chỉ mục hàng:", df.index)

Chỉ mục hàng: Index(['Hà Nội', 'Quảng Ninh', 'Nam Định', 'Đà Nẵng', 'TP. HỒ CHÍ MINH'], dtype='object')

In [34]:
print("Tên cột:", df.columns)

Tên cột: Index(['Diện tích (km2)', 'Dân số (người)'], dtype='object')

In [35]:
import pandas as pd

data = {
    'Tỉnh/TP': ['Hà Nội', 'Quảng Ninh', 'Nam Định', 'Đà Nẵng', 'TP. HỒ CHÍ MINH'],
    'Dân số (người)': [8419000, 1200000, 1700000, 1300000, 9000000],
    'Diện tích (km2)': [23358.9, 16177.7, 1668.0, 1284.9, 2061.0]
}

df = pd.DataFrame(data)
df

           Tỉnh/TP  Dân số (người)  Diện tích (km2)
0           Hà Nội         8419000          23358.9
1       Quảng Ninh         1200000          16177.7
2         Nam Định         1700000           1668.0
3          Đà Nẵng         1300000           1284.9
4  TP. HỒ CHÍ MINH         9000000           2061.0

In [36]:
import pandas as pd
population = pd.Series({'Hà Nội':8330830,
                        'Quảng Ninh':1358490,
                        'Nam Định': 1771000,
                        'Đà Nẵng':1191381,
                        'TP.Hồ Chí Minh':9411805})
area=pd.Series({'Hà Nội':3358.9,
                'Quảng Ninh':6177.7,
                'Nam Định': 1668.0,
                'Đà Nẵng':1284.9,
                'TP.Hồ Chí Minh':2061.0})
data = pd.DataFrame({'Dân số':population, 'Diện tích':area})
data

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358490     6177.7
Nam Định        1771000     1668.0
Đà Nẵng         1191381     1284.9
TP.Hồ Chí Minh  9411805     2061.0

In [37]:
#’tạo cột mới ‘popolution’ từ cột ‘Dân số’
data['population'] = data['Dân số']
print(data)

                 Dân số  Diện tích  population
Hà Nội          8330830     3358.9     8330830
Quảng Ninh      1358490     6177.7     1358490
Nam Định        1771000     1668.0     1771000
Đà Nẵng         1191381     1284.9     1191381
TP.Hồ Chí Minh  9411805     2061.0     9411805

In [38]:
data['Mật độ']=data['Dân số']/data['Diện tích']
data

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   219.902229
Nam Định        1771000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

In [39]:
indA = pd.Index([0,2,4,6,8])
indB = pd.Index([1,3,5,7,9])

print("Index A:", indA)
print("Index B:", indB)
print('\nHợp (union): ', indA.union(indB)) #hợp (union)
print('Hiệu: ', indA.difference(indB)) #hiệu
print('Giao: ', indA.intersection(indB)) #Giao
print('Hiệu đối xứng: ', indA.symmetric_difference(indB)) #hiệu đối xứng
print('A <= B and A!=B: ', indA.isin(indB))

Index A: Index([0, 2, 4, 6, 8], dtype='int64')
Index B: Index([1, 3, 5, 7, 9], dtype='int64')

Hợp (union):  Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')
Hiệu:  Index([0, 2, 4, 6, 8], dtype='int64')
Giao:  Index([], dtype='int64')
Hiệu đối xứng:  Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')
A <= B and A!=B:  [False False False False False]

In [40]:
import pandas as pd
s=pd.Series([10,20,30])
print(s)
print(s.index)
print(s.iloc[1])

0    10
1    20
2    30
dtype: int64
RangeIndex(start=0, stop=3, step=1)
20

In [41]:
import pandas as pd
data = pd.Series([10,20,30], index=['a','b','c'])
data

a    10
b    20
c    30
dtype: int64

In [17]:
data['a':'c']

a    10
b    20
c    30
dtype: int64

In [18]:
import pandas as pd
data = pd.Series(['a', 'b', 'c', 'd', 'e'], index=[1,3,5,6,7])
data.loc[1]

'a'

In [23]:
data.loc[1:4]

1    a
3    b
dtype: object

In [26]:
print(data.index)

Index([1, 3, 5, 6, 7], dtype='int64')

In [53]:
import pandas as pd

# --- ĐÂY LÀ PHẦN BẠN CẦN THÊM VÀO TRƯỚC ---
danh_sach = {
    'Dân số': [8.5, 1.3, 1.8],
    'Diện tích': [3358, 6178, 1668],
    'Mật độ': [2500, 210, 1000]
}
# Quan trọng: Phải có index=['Hà Nội', 'Quảng Ninh', 'Nam Định']
data = pd.DataFrame(danh_sach, index=['Hà Nội', 'Quảng Ninh', 'Nam Định'])

vd 4.4.2.3.a

In [46]:
#Sử dụng loc
print(data)
#Lấy hàng đầu tiên
print('\n Dữ liệu của Hà Nội:\n', data.loc['Hà Nội'])
#Lấy dữ liệu 3 hàng đầu tiên
print("\n Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:\n",data.loc[:'Nam Định'])
#Dữ liệu của 2 hàng và 2 cột đầu tiên
print("\nDữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:\n",data.loc[:'Quảng Ninh',:'Diện tích'])
#Lấy dữ liệu của tất cả các hàng và các cột cuối cùng
print("\n Mật độ dân số các Tỉnh/Thành phố:\n",data.loc[:,'Mật độ'])

            Dân số  Diện tích  Mật độ
Hà Nội         8.5       3358    2500
Quảng Ninh     1.3       6178     210
Nam Định       1.8       1668    1000

 Dữ liệu của Hà Nội:
 Dân số          8.5
Diện tích    3358.0
Mật độ       2500.0
Name: Hà Nội, dtype: float64

 Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:
             Dân số  Diện tích  Mật độ
Hà Nội         8.5       3358    2500
Quảng Ninh     1.3       6178     210
Nam Định       1.8       1668    1000

Dữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:
             Dân số  Diện tích
Hà Nội         8.5       3358
Quảng Ninh     1.3       6178

 Mật độ dân số các Tỉnh/Thành phố:
 Hà Nội        2500
Quảng Ninh     210
Nam Định      1000
Name: Mật độ, dtype: int64

vd4.4.2.3.b

In [45]:
print(data)

#Lấy hàng đầu tiên
print("\nDữ liệu của thủ đô Hà Nội:\n",data.iloc[0])

#Lấy dữ liệu 3 hàng đầu tiên
print("\nDữ liệu của Hà Nội, Quảng Ninh và Nam Định:\n",data.iloc[0:3])

#Lấy dữ liệu 2 hàng, 2 cột đầu tiên
print("\nDữ liệu dân số và diện tích của Hà Nội và Quảng Ninh:\n",data.iloc[:2,:2])

#Lấy dữ liệu về mật độ dân số của các tỉnh còn lại
print("Mật độ dân số của các tỉnh/thành phố:\n",data.iloc[:,-1])

            Dân số  Diện tích  Mật độ
Hà Nội         8.5       3358    2500
Quảng Ninh     1.3       6178     210
Nam Định       1.8       1668    1000

Dữ liệu của thủ đô Hà Nội:
 Dân số          8.5
Diện tích    3358.0
Mật độ       2500.0
Name: Hà Nội, dtype: float64

Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:
             Dân số  Diện tích  Mật độ
Hà Nội         8.5       3358    2500
Quảng Ninh     1.3       6178     210
Nam Định       1.8       1668    1000

Dữ liệu dân số và diện tích của Hà Nội và Quảng Ninh:
             Dân số  Diện tích
Hà Nội         8.5       3358
Quảng Ninh     1.3       6178
Mật độ dân số của các tỉnh/thành phố:
 Hà Nội        2500
Quảng Ninh     210
Nam Định      1000
Name: Mật độ, dtype: int64

vd4.4.2.4

In [47]:
#Lấy dữ liệu dân số và mật độ các tỉnh/TP có diện tích > 2000km2.
print(data.loc[data['Diện tích'] > 2000, ['Dân số', 'Mật độ']])

            Dân số  Mật độ
Hà Nội         8.5    2500
Quảng Ninh     1.3     210

In [48]:
print("Diện tích các tỉnh/TP có mật độ < 1000 và dân số > 1 triệu:\n",data.loc[(data['Mật độ']<1000) & (data['Dân số'] > 1000000), ['Diện tích', 'Mật độ']])

Diện tích các tỉnh/TP có mật độ < 1000 và dân số > 1 triệu:
 Empty DataFrame
Columns: [Diện tích, Mật độ]
Index: []

In [49]:
#Chỉnh sửa dữ liệu dân số của tỉnh Nam Định bằng thuộc tính iloc
data.iloc[2,0] = 1880000
data

               Dân số  Diện tích  Mật độ
Hà Nội            8.5       3358    2500
Quảng Ninh        1.3       6178     210
Nam Định    1880000.0       1668    1000

In [50]:
#Sử dụng indexing
print("Indexing:\n", data['Diện tích'])
#Slicing
print("Slicing:\n",data['Hà Nội':'Nam Định'])

Indexing:
 Hà Nội        3358
Quảng Ninh    6178
Nam Định      1668
Name: Diện tích, dtype: int64
Slicing:
                Dân số  Diện tích  Mật độ
Hà Nội            8.5       3358    2500
Quảng Ninh        1.3       6178     210
Nam Định    1880000.0       1668    1000

In [51]:
#Sử dụng slicing
print(data[0:2])

            Dân số  Diện tích  Mật độ
Hà Nội         8.5       3358    2500
Quảng Ninh     1.3       6178     210

In [52]:
#masking
print(data[data['Dân số']>1000000])

             Dân số  Diện tích  Mật độ
Nam Định  1880000.0       1668    1000